@use '../../scss/abstracts/' as *;

.product-review {
	@include flex(space-between, center);
	gap: 5rem;
	position: relative;

	@include mq('tablet-wide', max) {
		flex-direction: column;
	}

	> * {
		flex: 1;
		width: min(500px, 100%);
	}

	&-wrapper {
		--container-width: 1080px;
		--padding: 10rem 1rem;
	}
}
