@use '../../scss/abstracts/' as *;

.all-products {
	--container-width: 1080px;
	margin-top: 5rem;

	&-header {
		@include flex(space-between, center);
		margin-bottom: 3rem;

		h1 {
			font-size: 1.5rem;
		}
	}

	.products {
		min-height: 500px;
		position: relative;
	}
}
