@use '../../../scss/abstracts/' as *;

.account-form {
	background-color: #fff;
	border-radius: 0.25rem;
	padding: 1rem;
	display: grid;
	gap: 1.5rem;
	font-family: var(--ff-primary);
	position: absolute;
	bottom: 3rem;
	left: 50%;
	transform: translateX(-50%);

	&s {
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 1s ease;
	}

	&-wrapper {
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		position: relative;
		background: #fff;
		padding: 1rem;
		border-radius: 0.5rem;
		width: min(300px, 100%);
		height: min(400px, 100%);
		overflow: hidden;
	}

	&-navigators {
		@include flex(space-evenly, center);
		width: fit-content;
		margin-inline: auto;
		gap: 2rem;
		margin-top: 0.5rem;
		position: relative;

		&-navigator {
			background: transparent;
			border: none;
			outline-color: transparent;
			font-family: var(--ff-primary);
			font-weight: var(--fw-semibold);
			color: var(--clr-neutral-900);
		}

		.underline {
			position: absolute;
			width: 50%;
			height: 3px;
			left: 0;
			bottom: -0.5rem;
			background: var(--clr-primary-500);
			transition: transform 1s ease;
		}
	}

	&-input {
		border: 1px solid #bbb;
		outline-color: #bbb;
		padding: 0.25rem 0.5rem;
		font-family: inherit;
		font-size: 0.85rem;
		width: 250px;
	}

	&-password {
		&-wrapper {
			position: relative;
		}
		&-toggler {
			position: absolute;
			top: 50%;
			right: 0.5rem;
			transform: translateY(-50%);
			background: transparent;
			border: none;
		}
	}

	&-submit {
		width: 100% !important;
		margin-top: 2rem;
	}
}
