@use '../abstracts/' as *;

.container {
	width: min((100% - 2rem), var(--container-width, 1300px));
	margin-inline: auto;
}

.even-columns {
	display: grid;
	gap: 1rem;

	@include mq('tablet-wide') {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}
}

.section-padding {
	padding-block: var(--padding, 5rem);
}
