@use '../abstracts/' as *;

.head-text {
	font-size: clamp(1.5rem, 5vw, 3.125rem);
	font-family: var(--ff-heading);
	font-weight: var(--fw-bold);

	@include mq('tablet-small', max) {
		text-align: center;
	}
}

.body-text {
	font-size: 1rem;
	font-family: var(--ff-body);
	width: min(var(--max-width, 60ch), (100% - 2rem));
	color: var(--clr-neutral-600);

	@include mq('tablet-small', max) {
		text-align: center;
	}
}

.section-title {
	font-size: clamp(1.5rem, 5vw, 1.75rem);
	color: var(--clr-neutral-600);
	font-family: var(--ff-heading);
	font-weight: var(--fw-bold);
	text-align: center;
	width: fit-content;
	margin-inline: auto;
	margin-bottom: 4rem;

	&::after {
		content: '';
		display: block;
		margin-top: 0.5rem;
		height: 5px;
		width: 35%;
		border-radius: 100vmax;
		background: var(--clr-primary-500);
		margin-inline: auto;
	}
}

.section-subtitle {
	font-family: var(--ff-subheading);
	// font-size: clamp();
	width: min(var(--max-width, 60ch), (100% - 2rem));
	text-align: center;
}
