@use '../../scss/abstracts/' as *;

.navbar {
	@include flex(space-between, center);
	--container-width: 1250px;
	font-family: var(--ff-nav);
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;

	&::before {
		content: '';
		position: fixed;
		background-color: var(--clr-neutral-100);
		box-shadow: 0px -100vmax 0px 100vmax var(--clr-neutral-100),
			rgba(0, 0, 0, 0.24) 0px 3px 8px;
		top: 0;
		inset-inline: -100vmax;
		height: 100%;
		transition: transform 0.25s ease-in-out;
		z-index: -1;
	}
	&:not(.with-bg)::before {
		transform: translateY(-100%);
	}

	&-logo {
		width: 130px;
		height: fit-content;
	}

	&-nav {
		@include flex(center, center);
		gap: 1.5rem;

		&-list {
			z-index: 20;
			&:not(.mobile) {
				@include flex(center, center);
			}
			gap: 1.5rem;

			&.mobile {
				@include flex(center, center, column);
				position: fixed;
				top: 50vh;
				left: 50%;
				width: 100vw;
				height: 100vh;
				transform: translate(-50%, -50%);
				font-size: 1.5rem;
				transition: background, backdrop-filter, box-shadow, 500ms ease;
				&:not(.active) {
					visibility: hidden;
				}

				a {
					color: var(--clr-neutral-100);
				}

				li {
					transition: transform 500ms ease;
				}

				&.active {
					background: rgba(2 2 2 / 0.5);
					backdrop-filter: blur(1rem);
					box-shadow: rgba(#111, 0.5) 0 0 0 10000px inset;
				}
			}

			a {
				transition: color 250ms ease;
			}
			a.active {
				color: var(--clr-primary-500);
			}
		}
		&-cart {
			position: relative;
			z-index: 10;
			span {
				position: absolute;
				top: 0;
				left: 0;
				transform: translate(-50%, -50%);
				background: var(--clr-primary-500);
				color: #fff;
				border-radius: 50%;
				width: 20px;
				aspect-ratio: 1;
				overflow: hidden;
				display: grid;
				place-items: center;
				font-size: 0.75rem;
			}
		}
	}

	button {
		background: transparent;
		border: none;
		z-index: 50;
	}

	a {
		color: var(--clr-neutral-500);
		&:hover {
			color: var(--clr-primary-500);
			svg {
				fill: var(--clr-primary-500);
			}
		}
		&:last-child {
			width: 30px;
			height: 30px;

			a {
				font-size: 2rem;
			}
		}
	}
}
