$colors: (
	primary: (
		100: hsl(6, 100%, 92%),
		200: hsl(7, 100%, 85%),
		300: hsl(7, 100%, 77%),
		400: hsl(7, 100%, 69%),
		500: hsl(7, 100%, 62%),
		600: hsl(7, 63%, 49%),
		700: hsl(7, 63%, 37%),
		800: hsl(7, 62%, 25%),
		900: hsl(6, 62%, 12%),
	),
	secondary: (),
	accent: (),
	neutral: (
		100: hsl(0, 0%, 93%),
		200: hsl(0, 0%, 87%),
		300: hsl(0, 0%, 67%),
		400: hsl(0, 0%, 47%),
		500: hsl(0, 0%, 33%),
		600: hsl(0, 0%, 27%),
		700: hsl(0, 0%, 20%),
		800: hsl(0, 0%, 13%),
		900: hsl(0, 0%, 7%),
	),
);
