$colors: (
	primary: (
		100: #ffdcd8,
		200: #ffbab1,
		300: #ff9789,
		400: #ff7562,
		500: #ff523b,
		600: #cc422f,
		700: #993123,
		800: #662118,
		900: #33100c,
	),
	secondary: (),
	accent: (),
	neutral: (
		100: #eeeeee,
		200: #dddddd,
		300: #aaaaaa,
		400: #777777,
		500: #555555,
		600: #444444,
		700: #333333,
		800: #222222,
		900: #111111,
	),
);
