@use '../../scss/abstracts/' as *;

.cart-item {
	&:hover {
		background: var(--clr-neutral-100);
	}
	th {
		padding-block: 0.5rem;
	}
	&-info {
		@include flex($align: center);
		font-family: var(--ff-primary);
		color: var(--clr-neutral-600);
		width: fit-content;

		img {
			width: 80px;
			aspect-ratio: 1;
			object-fit: contain;
			background-color: var(--clr-neutral-100);
			margin-right: 0.25rem;
		}
		a {
			color: var(--clr-neutral-600);
		}
		p {
			font-size: 0.8rem;
		}
		button {
			font-size: 0.8rem;
			background: transparent;
			border: none;
			color: var(--clr-primary-500);
			&:hover {
				color: var(--clr-primary-700);
			}
		}
	}
	&-total {
		text-align: right;
		padding-right: 0.5rem;
		font: {
			family: var(--ff-primary);
			weight: var(--fw-medium);
			size: 1.04rem;
		}
		color: var(--clr-neutral-600);
	}
}
