@use '../../scss/abstracts/' as *;

.product-details {
	@include separate-children();
	font-family: var(--ff-primary);

	&-category {
		color: var(--clr-neutral-700);
	}
	&-name,
	&-description {
		text-align: left !important;
	}
	&-name {
		font-size: clamp(2.5rem, 5vw, 3.125rem) !important;
	}
	&-price {
		font-size: 2rem;
		font-weight: var(--fw-semibold);
		color: var(--clr-neutral-600);
	}
	&-sizes {
		border: 1px solid var(--clr-primary-500);
		padding: 0.5rem;
	}
	div {
		display: flex;
		gap: 1rem;
		align-items: center;

		&:has(button[type='submit']) {
			@include mq('tablet-small', max) {
				flex-direction: column;
				align-items: flex-start;

				button {
					margin-inline: 0;
				}
			}
		}
	}
	h2 {
		font-weight: var(--fw-bold);
		font-size: 1.25rem;
	}
	svg {
		fill: var(--clr-primary-500);
		font-weight: var(--fw-bold);
		font-size: 1.25rem;
	}

	.toast {
		svg {
			fill: #fff;
		}

		> div {
			box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
				rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
			background-color: var(--clr-primary-500);
			color: #fff;
		}
	}
}
