@use '../../scss/abstracts/' as *;

.product-details {
	@include separate-children();
	font-family: var(--ff-primary);

	&-category {
		color: var(--clr-neutral-700);
	}
	&-name,
	&-description {
		text-align: left !important;
	}
	&-name {
		font-size: clamp(2.5rem, 5vw, 3.125rem) !important;
	}
	&-price {
		font-size: 2rem;
		font-weight: var(--fw-semibold);
		color: var(--clr-neutral-600);
	}
	&-sizes {
		border: 1px solid var(--clr-primary-500);
		padding: 0.5rem;
	}
	&-quantity-wrapper {
		@include flex(space-between, center);
		border: 1px solid var(--clr-primary-500);
		padding: 0.5rem;

		> * {
			border: none;
			background: transparent;
			font-size: 1.25rem;
			user-select: none;
			outline: none;
		}
		button {
			display: grid;
			place-items: center;
			text-align: center;
			aspect-ratio: 1;
			width: 30px;
			border-radius: 0.25rem;
			&:hover {
				background: var(--clr-neutral-200);
			}
		}
	}
	&-quantity {
		width: 3ch;
		text-align: center;
		display: grid;
		user-select: none;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			display: none;
		}
	}
	div {
		display: flex;
		gap: 1rem;
		align-items: center;

		&:has(button[type='submit']) {
			@include mq('tablet-small', max) {
				flex-direction: column;
				align-items: flex-start;

				button {
					margin-inline: 0;
				}
			}
		}
	}
	h2 {
		font-weight: var(--fw-bold);
		font-size: 1.25rem;
	}
	svg {
		fill: var(--clr-primary-500);
		font-weight: var(--fw-bold);
		font-size: 1.25rem;
	}
}
