@use '../../scss/abstracts/' as *;

.product-review-related {
	@include flex($align: space, $direction: column);

	&-head {
		@include flex(space-between, center);
		margin-bottom: 3rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	button {
		background: transparent;
		border: none;
		font-family: var(--ff-button);
		&:disabled {
			cursor: not-allowed;
		}
	}
	.products {
		justify-content: flex-start;
	}
}
