@use '../../scss/abstracts/' as *;

.product-review-related {
	@include flex($align: space-between, $direction: column);

	&-head {
		@include flex(space-between, center);
		margin-bottom: 3rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	button {
		background: transparent;
		border: none;
		font-family: var(--ff-button);
		&:hover:not(:disabled) {
			text-decoration: underline;
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
}
