@use '../../scss/abstracts/' as *;

.header {
	background-image: var(--section-gradient);
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	place-items: center;

	&-wrapper {
		div {
			@include separate-children(1rem);
		}
		align-items: center;
	}

	a {
		display: block;
		width: fit-content;
		border-radius: 100vmax;
		margin-top: 1.5rem;

		@include mq('tablet-small', max) {
			margin-inline: auto;
		}
	}

	img {
		width: 100%;
		height: 100%;
	}
}
