@use '../../scss/abstracts/' as *;

.product-gallery {
	--album-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	&-album {
		position: relative;
		box-shadow: var(--album-shadow);
		border-radius: 0.25rem;
		overflow: hidden;

		&-item {
			aspect-ratio: 1;
			background: #f1f1f1;
			transition: opacity, z-index, 500ms ease-in-out;

			&:not(.active) {
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
				z-index: -1;
				transition-delay: 200ms;
			}
		}
		&-image {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	&-navigation {
		@include flex($wrap: wrap);
		margin-top: 0.5rem;
		width: min(490px, 100%);
		margin-inline: auto;
		gap: 0.25rem;

		label {
			flex: 1;
			aspect-ratio: 1;
			overflow: hidden;
			cursor: pointer;
			border: 2px solid transparent;
			border-radius: 0.25rem;
			background: #f1f1f1;

			&:has(:checked),
			&:hover {
				border-color: var(--clr-primary-500);
			}
		}

		img {
			object-fit: cover;
		}

		input[type='radio'] {
			position: absolute;
			left: -99999px;
		}
	}
}
