@use '../../scss/abstracts/' as *;

.products {
	--container-width: 1080px;
	position: relative; // for loader
	@include flex($align: flex-end, $wrap: wrap);
	@include mq('phablet', max) {
		justify-content: center;
	}
	gap: 1rem;
}
